<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.ico">
    <link rel="stylesheet" href="./css/slyles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{errorMessage}}
    </div>

    {{>footer}}
</body>
</html>